/* hide scrollbar for chrome safari */
.grid_slider::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.grid_slider {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.grid_slider {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.grid_card {
  min-width: 240px;
  min-height: 360px;
  /* width: 300px;
  height: 350px; */
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: inset 0px -20px 20px 20px #0000008c;
  border-radius: 20px;
}

.grid_movieName {
  position: absolute;
  bottom: 0;
  padding: 2px 5px;
  color: aliceblue;
}
