@font-face {
  font-family: "Gotham-Bold"; /*Can be any text*/
  src: local("Gotham-Bold"), url("./fonts/Gotham-Bold.otf") format("truetype");
}
@font-face {
  font-family: "GothamLight"; /*Can be any text*/
  src: local("GothamLight"), url("./fonts/GothamLight.ttf") format("truetype");
}
@font-face {
  font-family: "GothamMedium"; /*Can be any text*/
  src: local("GothamMedium"), url("./fonts/GothamMedium.ttf") format("truetype");
}
